.first-screen {
    width: 100vw;
    height: 100vh;
    background: url('/images/bc-image.png') no-repeat center;
    background-size: cover;
}

// @media #{$medium-and-up} {
//     .first-screen {
//         width: 100vw;
//         height: 100vh;
//     }
// }
