.header {
    @include flex--column;
    flex-wrap: wrap;

    &__content {
        margin-bottom: 20px;
    }

    &__item {
        @include flex--start;
    }

    &__image {
        @include flex--center;
        position: relative;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        box-shadow: 0 3px 20px rgba(68, 68, 68, 0.11);
        background-color: $main-bg-color;
        overflow: hidden;

        &--map {
            z-index: 5;
            width: 78px;
            height: 78px;

            &::after {
                position: absolute;
                top: 20px;
                right: 25px;
                content: url('/images/icon-geolocation.png');
            }
        }
    }

    &__info {
        @include flex--column;
    }

    &__text {
        &--span {
            font-family: 'Museo Sans Cyrl 700', sans-serif;
            line-height: 18px;
        }

        &--bell {
            position: relative;
            padding-left: 15px;
            font-family: 'Museo Sans Cyrl 500', sans-serif;
            font-size: 12px;
            letter-spacing: 0.96px;

            &::before {
                position: absolute;
                left: 0;
                top: 5px;
                content: '';
                width: 6px;
                height: 6px;
                border-radius: 50%;
                background-color: #27b24b;
                box-shadow: 0 0 7px rgba(79, 160, 55, 0.61);
            }
        }

        &--number {
            font-family: 'Museo Sans Cyrl 500', sans-serif;
            font-size: 24px;
            letter-spacing: 0.6px;
            margin-top: 5px;
        }
    }

    &__description {
        text-align: center;
        font-size: 22px;
        letter-spacing: 0.6;
        line-height: 24px;
    }

    &__link {
        position: relative;
        margin-top: 10px;
        font-family: 'Museo Sans Cyrl 500', sans-serif;
        font-size: 12px;
        color: $link-color;
        letter-spacing: 1.2px;
        text-transform: uppercase;
        text-decoration: none;

        &::after {
            position: absolute;
            bottom: -5px;
            left: 0;
            content: '';
            width: 100%;
            height: 1px;
            background-color: $link-color;
        }
    }

    &__adress {
        @include flex--column-start;
    }

    &__button {
        position: relative;
        @include flex--center;
        padding: 10px 25px;
        border: none;
        border-radius: 30px;
        background-color: $btn-bg-color;
        font-family: "Museo Sans Cyrl 500";
        font-size: 15px;
        line-height: 24px;
        letter-spacing: 0.75px;
        color: $btn-color;

        &::after {
            z-index: -1;
            position: absolute;
            top: 3px;
            left: 0;
            content: '';
            width: 100%;
            height: 100%;
            border-radius: 30px;
            background-color: $btn-shadow-color;
        }
    }
}

@media #{$small-and-up} {
    .header {
        @include flex--center;
        flex-wrap: wrap;

        &__description {
            display: none;
        }

        &__content {
            margin-right: auto;
            margin-left: auto;
        }
    }
}

@media #{$medium-and-up} {
    .header {
        &__link {
            margin-top: 1vw;
        }

        &__text {
            &--number {
                margin-top: 0.5vw;
            }
        }
    }
}

@media #{$large-and-up} {
    .header {
        &__button {
            position: fixed;
            bottom: 2vw;
            right: 2vw;
            padding: 15px 30px;
            font-size: 20px;
            background-color: $btn-shadow-color;

            &::after {
                background-color: $btn-bg-color;
            }
        }
    }
}

@media #{$xlarge-and-up} {
    .header {
        &__content {
            margin-right: 1vw;
        }
        
        &__info {
            @include flex--space-between;
        }

        &__button {
            position: relative;
            bottom: 0;
            right: 0;
            background-color: $btn-bg-color;

            &::after {
                background-color: $btn-shadow-color;
            }
        }
    }
}
