.logo {
    @include flex--space-between;

    &__picture {
        @include flex--space-between;
    }

    &__text {
        display: none;
        margin-left: 45px;
        max-width: 150px;
        font-size: 14px;
        letter-spacing: 0.7px;
    }

    &__nav {
        @include flex--center;
    }

    &__menu {
        font-family: 'Museo Sans Cyrl 500', sans-serif;
        font-size: 18px;
        letter-spacing: 0.7px;
    }

    &__button {
        padding: 0;
        border: 10px solid $main-bg-color;
        border-radius: 50%;
        background-color: $main-bg-color;
        box-shadow: 0 3px 20px rgba(68, 68, 68, 0.11);
    }
}

@media #{$small-and-up} { 
    .logo {
        &__menu {
            font-size: 24px;
        }
    
        &__button {
            border: 20px solid $main-bg-color;
            background-color: $main-bg-color;
            box-shadow: 0 3px 20px rgba(68, 68, 68, 0.11);
        }
    }
}

@media #{$normal-and-up} { 
    .logo {
        &__text {
            display: block;
        }
    }
}

@media #{$large-and-up} {
    .logo {
        margin: auto; 

        &__picture {
            margin-right: 1vw;
        }

        &__nav {
            display: none;
        }
    }
}
