.header
    .logo.container-small
        picture.logo__picture
            source(srcset=" /images/logo.png", type="" media='only screen and (min-width: 576px)')
            img.logo__image(src="/images/logo-small.png")
            .logo__text Студия депиляции и массажный кабинет в Бресте
        .logo__nav
            .logo__menu.mr-2 Меню
            button.logo__button(id="menu" type="button" name="menu")
                img(src="/images/icon-menu.png" width="25px" height="25px")
    .header__info
        .header__description PINCET - Студия депиляции и массажный кабинет в Бресте
    .header__info.header__info--secondary
        .header__item
            .header__icon.header__icon--map.mr-2
                img.header__image--map(src="/images/map.png" width="78px" height="78px")
            .header__adress
                .header__text #[span.header__text--span Мы находимся в центре:] #[br] г. Брест, ул. Гоголя, д.65
                a.header__link(href="#") смотреть на карте
    .header__info.header__info--secondary
        .header__item
            .header__icon.header__icon--contact.mr-2
                img.header__image--contact(src="/images/icon-phone.png" width="15px" height="15px")
            .header__contacts
                .header__text.header__text--bell Звоните, мы сейчас работаем
                .header__text.header__text--number +375 33 382 24 99
        .header__item.mt-1
            .header__icon.header__icon--contact.mr-2
                img.header__image--contact(src="/images/icon-time.png" width="15px" height="15px")
            .header__text Пн-Вс #[span.header__text--span 9:00-21:00]
    .header__info
        button.header__button.j-checkin-button(type="button" name="registration")
            img.header__image--button.mr-2(src="/images/icon-calendar.png" width="20px" height="20px")
            | Записаться онлайн
